<%- include ../Partials/header.ejs %> 
<%- include ../Partials/main_nav.ejs %>

<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
           


           <form method="POST" autocomplete="off">
        <fieldset class="form-group">
          <label for="username">Username: </label>
          <input
            type="text"
            class="form-control"
            name="username"
            placeholder="Enter username"
            id="username"
            required
            autofocus
          />
        </fieldset>
<br>
        <fieldset class="form-group">
          <label for="password">Password: </label>
          <input
            type="password"
            class="form-control"
            name="password"
            placeholder="Enter password"
            id="password"
            required
          />
          
          or
          <a href="/register">Register Here</a>
        </fieldset>
<br>
<center>
        <fieldset class="form-group text-right">
          <input type="submit" class="btn btn-success" value="Login" />
          
          <a href="/">
            <input type="button" class="btn btn-warning" value="Cancel" />
          </a>
        </fieldset>
        </center>
      </form>

           
   
      
    
      </div>
    </div>
  </div>
  
</section>


<%- include ../Partials/bottom_nav.ejs %> 
<%- include ../Partials/footer.ejs %>